server-sl/toaster/toaster-data.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:toast="http://netconfcentral.org/ns/toaster" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="//usr/local/share/libnetconf/rnglib//relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="http://netconfcentral.org/ns/toaster"><include href="./toaster-gdefs.rng"/><start><optional><element name="toast:toaster"><interleave><optional><element name="toast:test"><interleave><optional><element name="toast:L"><interleave><optional><element name="toast:L"><data type="string"/></element></optional><optional><element name="toast:C"><data type="string"/></element></optional><optional><element name="toast:R"><data type="string"/></element></optional></interleave></element></optional><optional><element name="toast:C"><interleave><optional><element name="toast:L"><data type="string"/></element></optional><optional><element name="toast:C"><data type="string"/></element></optional><optional><element name="toast:R"><data type="string"/></element></optional></interleave></element></optional><optional><element name="toast:R"><interleave><optional><element name="toast:L"><data type="string"/></element></optional><optional><element name="toast:C"><data type="string"/></element></optional><optional><element name="toast:R"><data type="string"/></element></optional></interleave></element></optional></interleave></element></optional><element name="toast:toasterManufacturer"><ref name="toaster__DisplayString"/></element><element name="toast:toasterModelNumber"><ref name="toaster__DisplayString"/></element><element name="toast:toasterStatus"><choice><value>up</value><value>down</value></choice></element></interleave></element></optional></start></grammar></interleave></element></start></grammar>
