transAPI/turing/turing-machine-config.rng.in

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:tm="http://example.net/turing-machine" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="@LIBNETCONF_DATADIR@/libnetconf/rnglib//relaxng-lib.rng"/><start><element name="config"><interleave><grammar ns="http://example.net/turing-machine"><include href="./turing-machine-gdefs-config.rng"/><start><element name="tm:turing-machine"><interleave><empty/><empty/><optional><empty/></optional><optional><element name="tm:transition-function"><zeroOrMore><element name="tm:delta"><element name="tm:label"><data type="string"/></element><interleave><element name="tm:input"><interleave><element name="tm:state"><ref name="turing-machine__state-index"/></element><element name="tm:symbol"><ref name="turing-machine__tape-symbol"/></element></interleave></element><optional><element name="tm:output"><interleave><optional><element name="tm:state"><ref name="turing-machine__state-index"/></element></optional><optional><element name="tm:symbol"><ref name="turing-machine__tape-symbol"/></element></optional><optional><element name="tm:head-move"><ref name="turing-machine__head-dir"/></element></optional></interleave></element></optional></interleave></element></zeroOrMore></element></optional></interleave></element></start></grammar></interleave></element></start></grammar>
