server/config/ietf-netconf-server-data.rng.in

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:x509c2n="urn:ietf:params:xml:ns:yang:ietf-x509-cert-to-name" xmlns:nacm="urn:ietf:params:xml:ns:yang:ietf-netconf-acm" xmlns:ncserver="urn:ietf:params:xml:ns:yang:ietf-netconf-server" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="@LIBNETCONF_DATADIR@/libnetconf/rnglib//relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="urn:ietf:params:xml:ns:yang:ietf-netconf-server"><include href="./ietf-netconf-server-gdefs.rng"/><start><optional><element name="ncserver:netconf"><interleave><optional><element name="ncserver:ssh"><ref name="ietf-netconf-server___ssh-config"/></element></optional><optional><element name="ncserver:tls"><ref name="ietf-netconf-server___tls-config"/></element></optional></interleave></element></optional></start></grammar></interleave></element></start></grammar>
