server/config/netopeer-cfgnetopeer-gdefs.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:cfgnetopeer="urn:cesnet:tmc:netopeer:1.0" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:x509c2n="urn:ietf:params:xml:ns:yang:ietf-x509-cert-to-name" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><define name="ietf-x509-cert-to-name__tls-fingerprint"><data type="string"><param name="pattern">([0-9a-fA-F]{2}(:[0-9a-fA-F]{2})*)?</param><param name="pattern">([0-9a-fA-F]){2}(:([0-9a-fA-F]){2}){0,254}</param></data></define><define name="ietf-x509-cert-to-name___cert-to-name"><zeroOrMore><element name="cert-to-name"><element name="id"><data type="unsignedInt"/></element><interleave><element name="fingerprint"><ref name="ietf-x509-cert-to-name__tls-fingerprint"/></element><element name="map-type"><choice><ref name="__x509c2n_san-rfc822-name"/><ref name="__x509c2n_san-any"/><ref name="__x509c2n_common-name"/><ref name="__x509c2n_specified"/><ref name="__x509c2n_san-dns-name"/><ref name="__x509c2n_san-ip-address"/></choice></element><choice><empty/><element name="name"><data type="string"/></element></choice></interleave></element></zeroOrMore></define><define name="__x509c2n_san-dns-name"><value type="QName">x509c2n:san-dns-name</value></define><define name="__x509c2n_san-any"><value type="QName">x509c2n:san-any</value></define><define name="__x509c2n_san-rfc822-name"><value type="QName">x509c2n:san-rfc822-name</value></define><define name="__x509c2n_san-ip-address"><value type="QName">x509c2n:san-ip-address</value></define><define name="__x509c2n_common-name"><value type="QName">x509c2n:common-name</value></define><define name="__x509c2n_specified"><value type="QName">x509c2n:specified</value></define></grammar>
